

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# =========================================================
# APPLICATION
# =========================================================
NODE_ENV=development
APP_NAME=MyApp
FRONTEND_URL=http://localhost:4200
APP_EMAIL_FROM=no-reply@example.com

# =========================================================
# DATABASE - https://neon.com/
# =========================================================
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# =========================================================
# AUTHENTICATION
# =========================================================
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d

# =========================================================
# ROOT USER
# =========================================================
ROOT_EMAIL=admin@example.com
ROOT_PASSWORD=secure-password

# =========================================================
# CLOUDINARY -- https://cloudinary.com/
# =========================================================
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# =========================================================
# EMAIL SERVICE (BREVO API) --  https://www.brevo.com/es/
# =========================================================
BREVO_API_KEY=your-brevo-api-key

# Remitente verificado en Brevo
MAIL_USER=danielaldana212@gmail.com